<a href="https://colab.research.google.com/github/neohack22/ethercourt/blob/master/Datacamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. variable: reserved memory w/ changeable value
2. function: transforms zero or more inputs into some action
3. class: template for creating user-defined objects
4. method: predefined function of class
5. argument: value passed to a function...

In [1]:
type(134.12)

float

In [2]:
type(134e12)

float

In [3]:
type(["ask",0])

list

In [4]:
type({"ask",0})

set

In [5]:
type(("ask",0))

tuple

In [6]:
type({'list':[1,0],'set':{1,0},'tuple':(1,0)})

dict

In [7]:
type([[1,0],[1,2]])

list

Input and Output

In [0]:
# Input directly
txt='My name is Abdoulaye'

In [10]:
# Input by user
age=input("Your age: ")

Your age: 34

In [11]:
# Output to user
print(f'{txt}. I am {age} y.o.)
# or print(txt,'and my age is', age)

SyntaxError: ignored

Basic functions

In [12]:
dict={'list':[1,0], 'set':{1,0},'tuple':(1,0)}
dict.items()[]

SyntaxError: ignored

In [13]:
dict={'list':[1,0], 'set':{1,0},'tuple':(1,0)}
dict.items()

dict_items([('list', [1, 0]), ('set', {0, 1}), ('tuple', (1, 0))])

booleans

In [14]:
93>80

True

In [15]:
9>80

False

In [16]:
print((93>80)&(2 in [1,2,3]))

True

In [17]:
print((93>80)&(2 in [1,4,3]))

False

In [18]:
print((93>80) or (2 in [1,4,3]))

True

conditional statements

In [19]:
Image(filename='C:/Users/eldiy/Downloads/Black_Mirror.png')

NameError: ignored

exercise. conditional logic

In [20]:
commut = 30
rain = False
traffic = False

if (rain==!False) and (traffic==False):
  total_commute=commute+15
elif (rain==False) and (traffic==True):
  total_commute=commute+20
elif (rain==True) and (traffic==True):
  total_commute=commute+20+15
else:
  total_commute=commute
print(f"Your total commute time is expected to be {total_commute} minutes."")

# total_commute = commute + 15*((rain == True) & (traffic == False)) + 20*((rain == False )) & ()traffic == True)
# print(f"Your total commute time is expected to be {total_commute} minutes.")

SyntaxError: ignored

In [21]:
commut = 30
rain = False
traffic = False

if (rain!=False) and (traffic==False):
  total_commute=commute+15
elif (rain==False) and (traffic==True):
  total_commute=commute+20
elif (rain==True) and (traffic==True):
  total_commute=commute+20+15
else:
  total_commute=commute
print(f"Your total commute time is expected to be {total_commute} minutes."")

# total_commute = commute + 15*((rain == True) & (traffic == False)) + 20*((rain == False )) & ()traffic == True)
# print(f"Your total commute time is expected to be {total_commute} minutes.")

SyntaxError: ignored

In [22]:
commut = 30
rain = False
traffic = False

if (rain!=False) and (traffic==False):
  total_commute=commute+15
elif (rain==False) and (traffic==True):
  total_commute=commute+20
elif (rain==True) and (traffic==True):
  total_commute=commute+20+15
else:
  total_commute=commute
print(f"Your total commute time is expected to be {total_commute} minutes.")

# total_commute = commute + 15*((rain == True) & (traffic == False)) + 20*((rain == False )) & ()traffic == True)
# print(f"Your total commute time is expected to be {total_commute} minutes.")

NameError: ignored

In [23]:
commute = 30
rain = False
traffic = False

if (rain!=False) and (traffic==False):
  total_commute=commute+15
elif (rain==False) and (traffic==True):
  total_commute=commute+20
elif (rain==True) # and (traffic==True):
  if (traffic==True): # instead of the previous comment
    total_commute=commute+20+15 #indentation become necessary
else:
  total_commute=commute
print(f"Your total commute time is expected to be {total_commute} minutes.")

# total_commute = commute + 15*((rain == True) & (traffic == False)) + 20*((rain == False )) & ()traffic == True)
# print(f"Your total commute time is expected to be {total_commute} minutes.")

Your total commute time is expected to be 30 minutes.

In [24]:
commute = 30
rain = False
traffic = False

if (rain!=False) and (traffic==False):
  total_commute=commute+15
elif (rain==False) and (traffic==True):
  total_commute=commute+20
elif (rain==True) # and (traffic==True):
  if (traffic==True): # instead of the previous comment
    total_commute=commute+20+15 #indentation become necessary
else:
  total_commute=commute
print(f"Your total commute time is expected to be {total_commute} minutes.")

# total_commute = commute + 15*((rain == True) & (traffic == False)) + 20*((rain == False )) & ()traffic == True)
# print(f"Your total commute time is expected to be {total_commute} minutes.")

SyntaxError: ignored

In [25]:
commute = 30
rain = False
traffic = False

if (rain!=False) and (traffic==False):
  total_commute=commute+15
elif (rain==False) and (traffic==True):
  total_commute=commute+20
elif (rain==True): # and (traffic==True):
  if (traffic==True): # instead of the previous comment
    total_commute=commute+20+15 #indentation become necessary
else:
  total_commute=commute
print(f"Your total commute time is expected to be {total_commute} minutes.")

# total_commute = commute + 15*((rain == True) & (traffic == False)) + 20*((rain == False )) & ()traffic == True)
# print(f"Your total commute time is expected to be {total_commute} minutes.")

Your total commute time is expected to be 30 minutes.

In [0]:
# define by number of elements

# de

In [0]:
for loop

In [26]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}
for i,item in enumerate(ages):
  print(ages[item])

23
22
47
32
28
35

In [27]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}
for name,age in ages.items():
  print(name)

Brian
Amy
Darlene
Ralph
Jordan
Stephanie

In [28]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}
for name,age in ages.items():
  print(age)

23
22
47
32
28
35

In [29]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']
for fruit in fruits:
  print(fruit)

apple
orange
banana
grapes
pineapple

In [30]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}
for name,age in ages.items():
  print(name, "is", age, "years old.")

Brian is 23 years old.
Amy is 22 years old.
Darlene is 47 years old.
Ralph is 32 years old.
Jordan is 28 years old.
Stephanie is 35 years old.

In [31]:
for i in range(len(fruits)):
  print(i) #iterate over seq[i]
  print(fruit[i])

0
p
1
i
2
n
3
e
4
a

In [32]:
for i in range(len(fruits)):
  print(i) #iterate over seq[i]
  print(fruits[i])

0
apple
1
orange
2
banana
3
grapes
4
pineapple

In [33]:
for i in enumerate(fruits):
  print(i, item) #iterate over seq[i]

(0, 'apple') Stephanie
(1, 'orange') Stephanie
(2, 'banana') Stephanie
(3, 'grapes') Stephanie
(4, 'pineapple') Stephanie

In [34]:
for i,item in enumerate(fruits):
  print(i, item) #iterate over seq[i]

0 apple
1 orange
2 banana
3 grapes
4 pineapple

In [35]:
for i,item in enumerate(ages):
  print(i, item) #iterate over seq[i]

0 Brian
1 Amy
2 Darlene
3 Ralph
4 Jordan
5 Stephanie

In [36]:
for i,item in enumerate(ages):
  i=i+1
  print(i, item) #iterate over seq[i]

1 Brian
2 Amy
3 Darlene
4 Ralph
5 Jordan
6 Stephanie

In [37]:
for i,item in enumerate(ages):
  print(i, item) #iterate over seq[i]

0 Brian
1 Amy
2 Darlene
3 Ralph
4 Jordan
5 Stephanie

while loop

In [38]:
total_time = 60
minutes_elapsed = 0
wait =15

print("Cake is in the oven.")
minutes_elapsed += wait

while minutes_elapsed < total_time:
  print(f"{minutes_elapsed} minutes past. Cake is not done yet.")
  
  minutes_elapsed += wait
  
print(It's done. Let's eat cake!")")

SyntaxError: ignored

In [39]:
total_time = 60
minutes_elapsed = 0
wait =15

print("Cake is in the oven.")
minutes_elapsed += wait

while minutes_elapsed < total_time:
  print(f"{minutes_elapsed} minutes past. Cake is not done yet.")
  
  minutes_elapsed += wait
  
print("It's done. Let's eat cake!")

Cake is in the oven.
15 minutes past. Cake is not done yet.
30 minutes past. Cake is not done yet.
45 minutes past. Cake is not done yet.
It's done. Let's eat cake!

In [0]:
total_time = 60 #time needed to
minutes_elapsed = 0 #time elapsed
wait =15 #step

print("Cake is in the oven.")
minutes_elapsed += wait

while minutes_elapsed < total_time:
  print(f"{minutes_elapsed} minutes past. Cake is not done yet.")
  
  minutes_elapsed += wait
  
print(It's done. Let's eat cake!")")

# list comprehensions

loop and if statement in 1 row

In [40]:
lst[]
lst

SyntaxError: ignored

In [41]:
lst=[]
lst

[]

In [42]:
lst=[0,1,2]
lst

[0, 1, 2]

In [43]:
lst=[]
for i in range(100):
  lst.append(i)
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [44]:
[i for i in range(100)]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [45]:
a=[i for i in range(100)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [46]:
print(a=[i for i in range(100)])

TypeError: ignored

In [47]:
print([i for i in range(100)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [48]:
[i for i in range(100)][6]

6

In [49]:
[i for i in range(100)][29]

29

In [50]:
[i for i in range(20) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [51]:
lst=[]
for i in range(20):
  if i%==0:
    lst.append(i)
print(lst)

SyntaxError: ignored

In [52]:
lst=[]
for i in range(20):
  if i%2==0:
    lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [53]:
for i in range(20):
  if i%2==0:
    lst.append(i)
print(lst)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [54]:
['yes' for i in range(1) if 0>1]

[]

In [55]:
['yes' for i in range(1) if 0<1]

['yes']

In [56]:
lst_lst=[[1,2,3], [1,2,3,4],['yes','no']]
lst_lst

[[1, 2, 3], [1, 2, 3, 4], ['yes', 'no']]

In [57]:
q=[]
for i in lst_lst
  for j in i: # inner loop
    q.append(j)
    print(q)

SyntaxError: ignored

In [58]:
q=[]
for i in lst_lst:
  for j in i: # inner loop
    q.append(j)
    print(q)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 1]
[1, 2, 3, 1, 2]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 4]
[1, 2, 3, 1, 2, 3, 4, 'yes']
[1, 2, 3, 1, 2, 3, 4, 'yes', 'no']

In [59]:
q=[]
for i in lst_lst:
  for j in i: # inner loop
    q.append(j)
print(q)

[1, 2, 3, 1, 2, 3, 4, 'yes', 'no']

In [60]:
#list comprehension for the samez thing above
print([j for i in lst_lst for j in i])

[1, 2, 3, 1, 2, 3, 4, 'yes', 'no']

In [61]:
q=[] #we want to obtain a list from a list where the number of elments is more than 3
for i in lst_lst:
  if len(i)>2:
    for j in i:
      q.append(j)
print(q)

[1, 2, 3, 1, 2, 3, 4]

In [62]:
q=[] #we want to obtain a list from a list where the number of elments is more than 3
for horse in lst_lst:
  if len(horse)>2:
    for j in i:
      q.append(apple)
print(q)

NameError: ignored

In [63]:
q=[] #we want to obtain a list from a list where the number of elments is more than 3
for horse in lst_lst:
  if len(horse)>2:
    for apple in i:
      q.append(apple)
print(q)

['yes', 'no', 'yes', 'no']

In [64]:
q=[] #we want to obtain a list from a list where the number of elments is more than 3
for horse in lst_lst:
  if len(horse)>2:
    for apple in horse:
      q.append(apple)
print(q)

[1, 2, 3, 1, 2, 3, 4]

In [65]:
w=[j for i in lst_lst if len(i)>2 for j in i]
print(w)

[1, 2, 3, 1, 2, 3, 4]

In [66]:
lst_lst

[[1, 2, 3], [1, 2, 3, 4], ['yes', 'no']]

In [67]:
lst_lst[0]

[1, 2, 3]

In [68]:
len(lst_lst[0])

3

In [69]:
q=[]
for i in lst_lst:
  if len(i)==3:
    for j in i:
      q.append(j+1)
    elif len(i) in i:
      q.append(j**2)
    else:
      for j in i:
        q.append(j)
        
print(q)

SyntaxError: ignored

In [70]:
q=[]
for i in lst_lst:
  if len(i)==3:
    for j in i:
      q.append(j+1)
  elif len(i) in i:
      q.append(j**2)
  else:
      for j in i:
        q.append(j)
        
print(q)

[2, 3, 4, 9, 'yes', 'no']

In [71]:
q=[]
for i in lst_lst:
  if len(i)==3:
    for j in i:
      q.append(j+1)
  elif len(i)>3:
    for j in i:
      q.append(j**2)
  else:
      for j in i:
        q.append(j)
        
print(q)

[2, 3, 4, 1, 4, 9, 16, 'yes', 'no']

In [72]:
w=[j+1 if len(i)==3 else j**2 if len(i)>3 else j for i in lst_lst for j in i]
print(w)

[2, 3, 4, 1, 4, 9, 16, 'yes', 'no']

In [73]:
w=[j+1 if len(i)==3 else j**2 if len(i)>3 else 'Hello' if j =="no" else j for i in lst_lst for j in i]
print(w)

[2, 3, 4, 1, 4, 9, 16, 'yes', 'Hello']

In [0]:
import pandas as pd
import numpy as np

In [75]:
#Series
a=pd.Series(np.random.random(10))
print(a)

0    0.421437
1    0.427497
2    0.683578
3    0.348023
4    0.338491
5    0.494058
6    0.319980
7    0.814594
8    0.510608
9    0.764728
dtype: float64

In [76]:
#DataFrame
df=pd.DataFrame(np.random.random((10,5)))
df

          0         1         2         3         4
0  0.006928  0.565158  0.066685  0.038711  0.887233
1  0.984209  0.082947  0.182798  0.642191  0.613324
2  0.435900  0.342705  0.294010  0.007224  0.869676
3  0.747474  0.012465  0.902405  0.376739  0.641380
4  0.163310  0.888483  0.668415  0.492412  0.031709
5  0.969189  0.524448  0.451869  0.187507  0.582347
6  0.555986  0.992740  0.450484  0.304218  0.551904
7  0.385299  0.242097  0.381996  0.815196  0.066477
8  0.672586  0.575193  0.251074  0.307719  0.222801
9  0.300547  0.106535  0.449274  0.361203  0.751670

In [77]:
#DataFrame
df=pd.DataFrame(np.random.random((10,5)))
print(df)

          0         1         2         3         4
0  0.431435  0.036858  0.909929  0.834439  0.487001
1  0.061218  0.328204  0.249781  0.137870  0.034121
2  0.111217  0.456992  0.020427  0.140450  0.552620
3  0.326609  0.598955  0.873823  0.652102  0.527238
4  0.464001  0.164766  0.783694  0.606092  0.351349
5  0.967001  0.519913  0.442058  0.193771  0.530693
6  0.209684  0.279616  0.854151  0.540982  0.179508
7  0.165466  0.435359  0.470816  0.119703  0.504480
8  0.342219  0.155441  0.895956  0.463527  0.964609
9  0.802173  0.740944  0.405086  0.031698  0.619427

In [78]:
l=[1,2,3]
df=pd.DataFrame(l)
df

   0
0  1
1  2
2  3

In [79]:
l=[1,2,3]
df=pd.DataFrame(l,columns=['col1'])
df

   col1
0     1
1     2
2     3

In [80]:
l=[1,2,3]
df=pd.DataFrame(l,columns=['col1'])
df.col1[1]

2

In [81]:
lst_lst

[[1, 2, 3], [1, 2, 3, 4], ['yes', 'no']]

In [82]:
df=pd.DataFrame(lst_lst)
df

     0   1    2    3
0    1   2  3.0  NaN
1    1   2  3.0  4.0
2  yes  no  NaN  NaN

In [83]:
df=pd.DataFrame(lst_lst, columns=['col1','col2','col3','col4'])
df

  col1 col2  col3  col4
0    1    2   3.0   NaN
1    1    2   3.0   4.0
2  yes   no   NaN   NaN

In [84]:
df=pd.DataFrame(lst_lst, columns=['col1','col2','col3','col4'])
df.col4

0    NaN
1    4.0
2    NaN
Name: col4, dtype: float64

In [85]:
df=pd.DataFrame(lst_lst, columns=['col1','col2','col3','col4'])
df.col4[1]

4.0

In [86]:
df=pd.DataFrame(lst_lst, columns=['col1','col2','col3','col4'])
df['col1'] #instead of using the column name as a method so that you get the values?

0      1
1      1
2    yes
Name: col1, dtype: object

In [87]:
df=pd.DataFrame(lst_lst, columns=['col1','col2','col3','col4'])
df.sum

<bound method DataFrame.sum of   col1 col2  col3  col4
0    1    2   3.0   NaN
1    1    2   3.0   4.0
2  yes   no   NaN   NaN>

In [88]:
dictionary={'list':[1,0],'set':{1,0},'tuple':(1,0)}
pd.DataFrame(dictionary)

   list     set  tuple
0     1  {0, 1}      1
1     0  {0, 1}      0

In [89]:
dictionary={'list':[1,0],'set':{1,0},'tuple':(1,0)}
pd.DataFrame(dictionary).transpose() #we transpose it to obtain a proper dataframe
df

  col1 col2  col3  col4
0    1    2   3.0   NaN
1    1    2   3.0   4.0
2  yes   no   NaN   NaN

In [90]:
dictionary={'list':[1,0],'set':{1,0},'tuple':(1,0)}
df=pd.DataFrame(dictionary).transpose() #we transpose it to obtain a proper dataframe
df

            0       1
list        1       0
set    {0, 1}  {0, 1}
tuple       1       0

In [91]:
s=0
for i in list:
  s+=i
s

sum(lst)

TypeError: ignored

In [92]:
s=0
for i in lst:
  s+=i
s

sum(lst)

180

In [93]:
s=0
for i in lst:
  s+=i
s

sum(lst)/len(lst)

9.0

In [94]:
s=0
for i in lst:
  s+=i
s

sum(lst)/len(lst)

df=pd.Dataframe(lst)
df.max()

AttributeError: ignored

In [95]:
s=0
for i in lst:
  s+=i
s

sum(lst)/len(lst)

df=pd.DataFrame(lst)
df.max()

0    18
dtype: int64